.button {
	box-sizing: border-box;
	margin: 0 5px;
	padding: 10px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: linear 0.2s;
}

.primary {
	color: var(--white);
	background-color: var(--primary);

	&:hover {
		background-color: var(--primary-hover);

		svg {
			transition: linear 0.2s;
			fill: red;
		}
	}

	svg {
		fill: var(--white);
	}
}

.ghost {
	background-color: var(--white);
	border: 1px solid var(--grey-ghost);

	&:hover {
		background-color: var(--grey-ghost);
	}
}

.arrow {
	padding: 0 5px;
}

.down {
	svg {
		transform: rotate(90deg);
		transition: linear 0.2s;
	}
}
