.tag {
	display: inline-block;
	margin-right: 5px;
	border-radius: 20px;
}
.small {
	font-size: 14px;
	padding: 5px 10px;
}
.medium {
	font-size: 16px;
	padding: 10px 15px;
}

.red {
	background: #ff0000;
	color: var(--white);
}
.green {
	background: #80ff80;
	color: var(--black)
}

.ghost {
	background: var(--ghost);
	color: var(--black);
	border: 1px solid var(--black);
}

.primary {
	background: var(--primary);	
	color: var(--white)
}
