.tag {
	display: inline-block;
	margin-right: 5px;
	border-radius: 20px;
}

.small {
	padding: 5px 10px;
	font-size: 14px;
}

.medium {
	padding: 10px 15px;
	font-size: 16px;
}

.red {
	color: var(--white);
	background: #F00;
}

.green {
	color: var(--black);
	background: #80FF80;
}

.ghost {
	color: var(--black);
	background: var(--ghost);
	border: 1px solid var(--black);
}

.primary {
	color: var(--white);
	background: var(--primary);
}
